- if @churches.any?
  - @churches.each do |church|
    %p= church.name
    %p= church.date_first_mention_in_text
    %p= church.location.town
    %p= church.location.county
    - if church.building_images.any? 
      - church.building_images.each do |image|
        %p= image.description
        = image_tag image.church_images[0].url
    %p= link_to "Add Images", new_church_building_image_path(church)
- else 
  No churches have been added yet!

=link_to  "Add A Church", new_church_path
