- if @churches.any?
  - @churches.each do |church|
    %p= church.name
    %p= church.date_first_mention_in_text
    %p= church.location.town
    %p= church.location.county
    %p= link_to "Add Images", new_church_image_path(church)
- else 
  No churches have been added yet!

=link_to  "Add A Church", new_church_path