.container
  .col-xs-12
    = simple_form_for @church do |f|
      = f.input :name
      = f.input :date_first_mention_in_text, collection: @date_ranges, prompt: "Select Date"
      = f.input :first_mention_description
      = f.input :date_earliest_extant_fabric, collection: @date_ranges, prompt: "Select Date"
      .checkbox
        = f.input :ds_earliest_extant_fabric, label: 'Date Secured?', as: :boolean
      = f.input :earliest_extant_fabric_description
      = f.input :general_narrative
      = f.button :submit, 'Next - Add Location', class:"btn btn-success"
      